/* style.css */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f0f0f0, #e0e0e0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.player-input {
  margin-bottom: 20px;
}

.player-input input {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.player-input button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.player-input button:hover {
  background-color: grey;
  color: yellow;
}

.game-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.player1,
.player2 {
  display: flex;
  align-items: center;
}

.player-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
}

.player-symbol {
  font-size: 2em;
  font-weight: bold;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border: 2px solid #007bff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: #e0e0e0;
}

.status {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
}

#reset-game {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reset-game:hover {
  background-color:gray;
  color: yellow;
}

.hidden {
  display: none;
}